<div class="landingpage-wrapper" #landingWrapper>
  <div class="loader-overlay">
  <div class="loader-container">
    <span *ngFor="let letter of words; let i = index" class="loader-letter">
      {{ letter }}
    </span>
  </div>
</div>

  <section class="abin-design-studio-section landing-100vh section-padding relative" id="abin-design-studio-landing-1" style="z-index: 5;">
    <div class="mini-container">
      <div class="mini-container2">
        <div class="section-paragraph">
          <p class="white-color text-center">
            At ADS, we <span class="semibold-fonts white-color">believe architecture</span> is not merely about
            creation;
            it is a search. From <span class="semibold-fonts white-color">social aspects to the mechanics of spaces and
              forms,</span>
            from the beauty of light and shadow to striking a harmony with nature, it is essentially a continuing
            process
            of discovery and cohesion in the world. <br><br><br>The journey is what contributes to our growth.
          </p>
        </div>
        <div class="box" (click)="onExploreClick()" type="button">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>


    </div>
  </section>

  <section class="abin-design-studio-section landing-100vh section-padding relative" id="abin-design-studio-landing-2" style="z-index: 6;">
    <div class="main-container">
      <div class="names-landing-flex">

        <!-- Internal SPA navigation -->
        <div class="section-paragraph">
          <a routerLink="/home" routerLinkActive="active">Abin Design Studio</a>
        </div>

        <div class="section-paragraph">
          <a href="javascript:void(0);">Hands & Minds</a>
        </div>

        <div class="section-paragraph">
          <a href="javascript:void(0);">
            Kolkata Architecture Foundation
          </a>
        </div>

        <div class="section-paragraph">
          <a href="javascript:void(0);">
            Kolkata Design Collective
          </a>
        </div>

      </div>
    </div>
  </section>

</div>
