/* Skeleton wrapper */
.skeleton-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #121212;
  /* Optional: page background */
}

/* Base skeleton style */
.skeleton-banner,
.skeleton-section {
  width: 100%;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg,
      #414141 0%,
      #3a3a3a 50%,
      #414141 100%);
}

/* Banner height */
.skeleton-banner {
  height: 100svh;
}

/* Section height */
.skeleton-section {
  height: 150px;
}

/* Smooth shimmer animation */
.skeleton-banner::after,
.skeleton-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.08) 50%,
      rgba(255, 255, 255, 0) 100%);
  animation: shimmerDark 2s infinite;
}

/* Shimmer movement */
@keyframes shimmerDark {
  0% {
    transform: translateX(-100%) rotate(0deg);
  }

  50% {
    transform: translateX(100%) rotate(0deg);
  }

  100% {
    transform: translateX(100%) rotate(0deg);
  }
}

/* Optional: soft pulse for breathing */
@keyframes pulseDark {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.85;
  }
}

.skeleton-banner,
.skeleton-section {
  animation: pulseDark 1.5s infinite ease-in-out;
}



#abin-design-studio-project-detail-1 {
  position: relative;
  height: 100svh;
  overflow: hidden;
}

.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transform: translateY(0);
  will-change: transform;
  transition: transform 0.1s ease-out;
  z-index: -1;
}

.bg-image-section-detail {
  position: relative;
  height: 100svh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  overflow: hidden;
}


.abs-click-btns {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  bottom: 22.5%;
  left: 2rem;
  z-index: 5;
  align-items: flex-start;
}

#abin-design-studio-project-detail-3 {
  background-image: url(/assets/images/projects/waterfront-pavilion/detail-sec3-web.jpg);
}

#abin-design-studio-project-detail-4 {
  background-image: url(/assets/images/projects/waterfront-pavilion/waterfront-sumner4-web.jpg);
}

#abin-design-studio-project-detail-7 {
  background-image: url(/assets/images/projects/waterfront-pavilion/clubhouse6.jpg);
  background-attachment: unset !important;
}

#abin-design-studio-project-detail-5 {
  background-image: url(/assets/images/projects/waterfront-pavilion/Waterfront_Clubhouse_5-web.jpg);
}

::ng-deep .section-abs-section .section-subtitle p.white-color p {
  color: var(--white-color) !important;
  font-family: var(--regular-font-family) !important;
}

.detail-banner-abs {
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.overflowdiv {
  overflow: hidden !important;
}

#abin-design-studio-project-detail-3 {
  background-color: var(--primary-color);
}

.overview-flex-wrapper {
  display: flex;
  flex-direction: row;
  padding-left: 80px;
  gap: 160px;
  align-items: center;
  justify-content: space-between;
}

.overview-content-card {
  width: calc(100% - 55%);
  flex-basis: calc(100% - 55%);
}

::ng-deep #scroll-reveal-text span {
  margin-right: 0.5rem !important;
}

.scroll-reveal-text span {
  display: inline-block;
  white-space: nowrap;
}


.section-abs-section {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.inner-abs-container {
  width: 50%;
}

.inner-abs-container-2 {
  width: 60%;
}

.inner-flex-sidepadding-gap {
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--white-color);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.abin-sec-6-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.sec-6-image {
  height: 100svh;
  width: 100%;
  overflow: hidden;
}

.sec-6-image img {
  height: 100svh;
}

.publication-popup {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 100%;
  z-index: 99999;
  display: none;
}

.publicatiuon-popup-card {
  width: 75%;
  margin-left: auto;
}

.popup-overlay {
  background-color: rgba(121, 121, 121, 0.9);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  opacity: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.publication-popup-img {
  margin-bottom: 1.5rem;
}

.popup-overlay.popup-overlay-active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 9999;
}


.detail-video-section {
  background-color: #DEDEDE !important;
}

.credits-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform-origin: top right;
  z-index: 999999;
  transition: all 1s ease;
}

.credits-popup.credits-popup-active {
  transition: all 1s ease;
  transform-origin: top right;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.inner-popup-space {
  padding: var(--small-gap-size);
  opacity: 0;
  align-items: flex-end;
  justify-content: end;
  text-align: right;
  z-index: 99999999;
  visibility: hidden;
  transition: all 1s ease;
}

.inner-popup-space.inner-popup-space-active {
  padding: var(--small-gap-size);
  opacity: 1;
  visibility: visible;
  transition: all 1s ease;
}

.publication-popup-active {
  display: block;
}


.close-publications {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.credits-inner-flex {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap-size);
  padding: 0 2rem 2rem 2rem;
  align-items: flex-end;
}

.section-paragraph-credit {
  padding-right: 2rem;
}


.next-prev-div {
  display: flex;
  flex-direction: row;
  gap: var(--small-gap-size);
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.project-np-click {
  width: 4rem;
  transition: all 0.6s ease;
}

.project-click-flex {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  gap: var(--small-gap-size);
  align-items: center;
}

.next-project-click:hover .project-np-click {
  transition: all 0.6s ease;
  transform: translateX(10px);
}

.prev-project-click:hover .project-np-click {
  transition: all 0.6s ease;
  transform: translateX(-10px);
}


.next-prev-div:hover .project-click-flex {
  opacity: 0.4;
}

.next-prev-div .project-click-flex.prev-project-click:hover {
  opacity: 1 !important;
}

.next-prev-div .project-click-flex.next-project-click:hover {
  opacity: 1 !important;
}

.nex-prev-grid {
  display: grid;
  grid-template-columns: calc(100% / 2 - 0.1rem) calc(100% / 2 - 0.1rem);
  align-items: center;
  gap: 0.2rem;
}

.prev-next-abs-wrapper {
  position: absolute;
  bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.prev-abs-wrapper {
  right: 2.5rem;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}

.next-abs-wrapper {
  left: 2.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.prev-nex-img-div {
  overflow: hidden;
}

.prev-nex-img-div:hover img {
  transform: scale(1.02);
}


@media only screen and (max-width: 1152px) {
  .overview-flex-wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 65px;
    gap: 120px;
    align-items: center;
    justify-content: space-between;
  }

  .section-subtitle p,
  .section-subtitle h4,
  .section-subtitle h4 span {
    font-size: 2.5rem !important;
  }

}

@media only screen and (max-width: 991px) {
  .abin-sec-6-grid {
    grid-template-columns: 100%;
  }

  .overview-flex-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.5rem;
    padding-top: 4rem;
  }

  .inner-flex-sidepadding-gap {
    padding: 4rem 1.5rem 1.5rem 1.5rem;
    gap: 2.5rem;
  }

  .abin-sec-6-grid {
    gap: 1.5rem;
  }

  #abin-design-studio-project-detail-5 .main-container {
    padding: 0 !important;
  }

  .overview-content-card {
    width: 100%;
    flex-basis: 100%;
  }

  .big-banner-title h1,
  .big-banner-title h1 span,
  .big-banner-title h2,
  .big-banner-title h2 span {
    font-size: 8rem;
  }


  .bg-image-section-detail {
    position: relative;
    height: auto;
    background-size: cover;
    background-attachment: unset;
    background-position: center;
    width: 100%;
    overflow: visible;
    background-image: unset !important;
  }

  .publicatiuon-popup-card {
    width: 100%;
  }

  .publication-popup.publication-popup-active {
    display: block;
  }

  .publication-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    z-index: 99999;
    display: none;
    transform: translate(-50%, -50%);
    padding: 1rem;
  }


  .credits-popup {
    position: fixed;
    width: 90%;
    height: fit-content;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform-origin: unset;
    z-index: 999999;
    transition: all 1s ease;
    transform: translate(-50%, -50%);
  }

  .credits-popup.credits-popup-active {
    transition: all 1s ease;
    transform-origin: unset;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .popup-overlay {
    display: block;
  }

  .section-abs-section .main-container {
    padding: 0 !important;
  }

  .detail-video-section,
  .mobile-detail-images {
    height: 50svh;
    background-color: #DEDEDE !important;
    width: 100% !important;
  }

  .section-subtitle p,
  .section-subtitle h4,
  .section-subtitle h4 span {
    font-size: 2.25rem !important;
  }

  .mobile-detail-images img {
    height: 100% !important;
  }


  #abin-design-studio-project-detail-5,
  #abin-design-studio-project-detail-3 {
    background-image: unset !important;
    height: auto !important;
  }

  #abin-design-studio-project-detail-5 .section-abs-section,
  #abin-design-studio-project-detail-3 .section-abs-section {
    position: relative;
    bottom: unset;
    left: unset;
    width: 100%;
    transform: unset !important;
  }

  .inner-abs-container,
  .inner-abs-container-2 {
    width: 100% !important;
    padding: 2rem 0 0 0 !important;
  }

  .inner-abs-container-2 {
    padding-bottom: 0;
  }

  .sec-6-image img,
  .sec-6-image {
    height: 50svh;
  }

  .white-color.mobile-primary-white {
    color: var(--primary-color) !important;
  }


  .abs-click-btns {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    bottom: unset;
    left: unset;
    z-index: 5;
    align-items: center;
    padding-bottom: 1.5rem;
  }

  .credits-inner-flex {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap-size);
    padding: 2rem 2rem;
    align-items: flex-end;
  }

  .inner-popup-space {
    width: 100%;
    min-width: 100%;
  }

  #abin-design-studio-project-detail-8 {
    padding: 2rem 0 !important;
  }

  #abin-design-studio-project-detail-8 .section-subtitle2 p {
    font-size: 1.5rem;
    transform: translateY(2px);
  }

  .project-np-click {
    width: 2.5rem;
  }

  .project-click-flex {
    gap: 0.75rem !important;
  }

  .section-abs-section {
    position: relative;
    bottom: unset;
    left: unset;
    width: unset;
    transform: unset;
  }

  ::ng-deep .section-abs-section .section-subtitle p.white-color p {
    color: var(--primary-color) !important;
    font-size: 1.75rem !important;
    font-family: var(--regular-font-family) !important;
  }

  .nex-prev-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
  }

  .prev-next-abs-wrapper {
    position: relative;
    bottom: unset;
    left: unset !important;
    right: unset !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .prev-next-abs-wrapper .section-content p,
  .prev-next-abs-wrapper .section-content a,
  .prev-next-abs-wrapper .section-content p span {
    font-size: 14px;
  }

  .prev-next-abs-wrapper .white-color {
    color: var(--primary-color) !important;
  }
}


@media only screen and (max-width: 768px) {
  .flex-col-mobile {
    flex-direction: column;
    align-items: start !important;
    gap: 1rem !important;
  }

  .big-banner-title h1,
  .big-banner-title h1 span,
  .big-banner-title h2,
  .big-banner-title h2 span {
    font-size: 4rem;
    line-height: 1 !important;
  }

  .parallax-bg {
    background-attachment: fixed;
    background-position: center right 25%;
  }



  .detail-banner-abs .inner-flex.inner-flex-big {
    gap: 2.5rem !important;
  }

  #abin-design-studio-project-detail-1 {
    position: relative;
    height: 100svh;
    overflow: hidden;
  }

  .detail-banner-abs {
    bottom: 10rem;
  }


}
