<div id="abin-design-studio-project-detail-page-wrapper" class="abin-design-studio-page-wrapper">
  <section class="abin-design-studio-section relative parallax-section" id="abin-design-studio-project-detail-1">
    <div class="parallax-bg" #parallaxBg [ngStyle]="{
      'background-image': bannerImageUrl ? 'url(' + bannerImageUrl + ')' : 'none'
    }"></div>
    <div class="detail-banner-abs">
      <div class="main-container">
        <div class="inner-flex inner-flex-big">
          <div *ngIf="projectDetailObj.project">
            <div class="big-banner-title overflowdiv"
              *ngFor="let word of projectDetailObj?.project?.split(' '); let i = index">
              <h1 class="white-color uppercase" data-aos="fade-up" [attr.data-aos-delay]="300 + (i * 200)">
                {{ word }}
              </h1>
            </div>
          </div>

          <div class="flex-row flex-row-medium flex-col-mobile overflowdiv">
            <div class="section-content" *ngIf="projectDetailObj.location">
              <p class="white-color uppercase bold-fonts" data-aos="fade-up" data-aos-delay="700">
                {{projectDetailObj.location}}
              </p>
            </div>
            <div class="section-content" *ngIf="projectDetailObj.year">
              <p class="white-color uppercase bold-fonts" data-aos="fade-up" data-aos-delay="800">
                {{ projectDetailObj.year }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="abin-design-studio-section relative" id="abin-design-studio-project-detail-2">
    <div class="credits-popup" [ngClass]="{'credits-popup-active': isCreditOpen}" [ngStyle]="{top: sectionTop + 'px'}">
      <div class="inner-flex inner-flex-small inner-popup-space"
        [ngClass]="{'inner-popup-space-active': isInnerPopupActive}">
        <div class="section-paragraph c-pointer" (click)="closeAll()">
          <p>
            &times;
          </p>
        </div>
        <div class="section-paragraph section-paragraph-credit">
          <p class="helvetica-bold lh1">
            credits
          </p>
        </div>
        <div class="credits-inner-flex">
          <div class="inner-flex inner-flex-small">
            <div class="inner-flex inner-flex-smallest section-content">
              <p class="lh1 helvetica">
                Architect
              </p>
              <p class="lh1 helvetica-bold">Abin Design Studio</p>
            </div>
            <div class="inner-flex inner-flex-smallest section-content">
              <p class="lh1 helvetica">
                Principal Designer
              </p>
              <p class="lh1 helvetica-bold">Abin Chauduri</p>
            </div>
            <div class="inner-flex inner-flex-smallest section-content">
              <p class="lh1 helvetica">
                Design Team
              </p>
              <p class="lh1 helvetica-bold">Sonia Guha</p>
            </div>
          </div>
          <div class="inner-flex inner-flex-small">
            <div class="inner-flex inner-flex-smallest section-content">
              <p class="lh1 helvetica">
                Site Coordination Team
              </p>
              <p class="lh1 helvetica-bold">Debjit Samanta, Debkishor Das</p>
            </div>
            <div class="inner-flex inner-flex-smallest section-content">
              <p class="lh1 helvetica">
                Structural Engineer
              </p>
              <p class="lh1 helvetica-bold">Soma Kazi</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="overview-flex-wrapper">
      <div class="overview-content-card">
        <div class="section-subtitle">
          <p class="regular-fonts scroll-reveal-text" id="scroll-reveal-text"
            [innerHTML]="projectDetailObj.short_description"></p>
        </div>


      </div>
      <div class="overview-image relative">
        <div class="abs-click-btns">
          <div class="section-paragraph">
            <p (click)="openCredits()" class="c-pointer semibold-fonts">+ Credits</p>
          </div>
          <div class="section-paragraph">
            <p (click)="openPublication()" class="c-pointer semibold-fonts">+ Publication</p>
          </div>
        </div>
        <img src="./assets/images/projects/waterfront-pavilion/detail-popup-mob.png" alt="">
      </div>
    </div>
  </section>


  <div class="inner-flex inner-flex-sidepadding-gap">
    <ng-container *ngFor="let section of projectDetailObj.sections; let i = index">

      <!-- Skip banner-block -->
      <ng-container *ngIf="section.type !== 'banner-block'">

        <!-- text-image-block & image-text-block -->
        <section *ngIf="section.type === 'text-image-block' || section.type === 'image-text-block'"
          class="abin-design-studio-section bg-image-section-detail relative"
          [ngStyle]="{'background-image': 'url(' + section.content.image_view + ')'}">

          <div class="visible-tab-mobile mobile-detail-images">
            <img [src]="section.content.image_view" alt="">
          </div>

          <div class="section-abs-section">
            <div class="main-container">
              <div class="section-subtitle inner-abs-container">
                <p class="white-color regular-fonts lh1" [innerHTML]="section.content.text"></p>
              </div>
            </div>
          </div>
        </section>

        <!-- image-block -->
        <section *ngIf="section.type === 'image-block'"
          class="abin-design-studio-section bg-image-section-detail relative"
          [ngStyle]="{'background-image': 'url(' + section.content.image_view + ')'}">
          <div class="visible-tab-mobile mobile-detail-images">
            <img [src]="section.content.image_view" alt="">
          </div>
        </section>


        <!-- video-block -->
        <section *ngIf="section.type === 'upload-video'"
          class="abin-design-studio-section bg-image-section-detail detail-video-section relative">

          <video #autoVideo src="./assets/images/projects/ waterfront-pavilion/dummy-video.mp4" muted playsinline preload="auto" loop
            style="width:100%; height:100%; object-fit:cover;"></video>

        </section>

        <!-- gallery-block -->
        <section *ngIf="section.type === 'gallery-block'" class="abin-design-studio-section relative">

          <div class="abin-sec-6-grid">
            <div class="sec-6-image" *ngFor="let img of section.content">
              <img #scalableImage [src]="img.image_view" alt="">
            </div>
          </div>
        </section>

      </ng-container>

    </ng-container>
  </div>

  <!-- <div class="inner-flex inner-flex-sidepadding-gap">
    <section class="abin-design-studio-section bg-image-section-detail relative"
      id="abin-design-studio-project-detail-3">
      <div class="visible-tab-mobile mobile-detail-images">
        <img src="./assets/images/projects/waterfront-pavilion/detail-sec3-web.jpg" alt="">
      </div>

      <div class="section-abs-section">
        <div class="main-container">
          <div class="section-subtitle inner-abs-container">
            <p class="white-color regular-fonts lh1">The story of Adisaptagram's football club and the construction of a
              clubhouse by Abin
              Design Studio is a compelling narrative of community-driven development.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="abin-design-studio-section bg-image-section-detail relative"
      id="abin-design-studio-project-detail-4"></section>
    <section class="abin-design-studio-section bg-image-section-detail relative"
      id="abin-design-studio-project-detail-5">
      <div class="visible-tab-mobile mobile-detail-images">
        <img src=".//assets/images/projects/waterfront-pavilion/Waterfront_Clubhouse_5-web.jpg" alt="">
      </div>
      <div class="image-overlay hide-tab-mobile"></div>
      <div class="section-abs-section">
        <div class="main-container">
          <div class="section-subtitle inner-abs-container-2">
            <p class="white-color mobile-primary-white regular-fonts lh1">
              Utilizing local materials, labor, and donations, the structure includes basic sanitation, multipurpose
              spaces, and a viewing deck. It symbolizes inclusive development, sustainability, and hope for a better
              community future.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="abin-design-studio-section relative" id="abin-design-studio-project-detail-6">
      <div class="abin-sec-6-grid">
        <div class="sec-6-image">
          <img #scalableImage src="./assets/images/projects/waterfront-pavilion/clubhouse5_2-web.jpg" alt="">
        </div>
        <div class="sec-6-image">
          <img #scalableImage src="./assets/images/projects/waterfront-pavilion/clubhouse5_1.jpg" alt="">
        </div>
      </div>
    </section>
    <section class="abin-design-studio-section bg-image-section-detail relative"
      id="abin-design-studio-project-detail-7"></section>
  </div> -->
  <section class="abin-design-studio-section section-padding-small relative" id="abin-design-studio-project-detail-8">
    <div class="main-container">
      <div class="next-prev-div">
        <div class="prev-project-click project-click-flex">
          <div class="project-np-click">
            <img src="./assets/images/projects/prev-project.svg" alt="">
          </div>
          <div class="section-subtitle2">
            <p class="helvetica-bold">
              Prev. Project
            </p>
          </div>
        </div>
        <div class="next-project-click project-click-flex">
          <div class="section-subtitle2">
            <p class="helvetica-bold">
              Next Project
            </p>
          </div>
          <div class="project-np-click">
            <img src="./assets/images/projects/next-project.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="popup-overlay" [ngClass]="{'popup-overlay-active': isOverlayActive}" (click)="closeAll()">
</div>

<div class="publication-popup" [ngClass]="{'publication-popup-active': isPublicationOpen}">
  <div class="publication-popup-img relative">
    <div class="section-paragraph close-publications c-pointer" (click)="closeAll()">
      <p class="white-color">
        &times;
      </p>
    </div>
    <img src="./assets/images/projects/waterfront-pavilion/publication-popup.png" alt="">
  </div>
</div>
