<div id="abin-design-studio-project-detail-page-wrapper" class="abin-design-studio-page-wrapper">
  <section class="abin-design-studio-section relative parallax-section" id="abin-design-studio-project-detail-1">
    <div class="parallax-bg" #parallaxBg></div>
    <div class="detail-banner-abs">
      <div class="main-container">
        <div class="inner-flex inner-flex-big">
          <div>
            <div class="big-banner-title overflowdiv">
              <h1 class="white-color uppercase" data-aos="fade-up" data-aos-delay="300">Waterfront</h1>
            </div>
            <div class="big-banner-title overflowdiv">
              <h1 class="white-color uppercase" data-aos="fade-up" data-aos-delay="500">Pavilion</h1>
            </div>
          </div>
          <div class="flex-row flex-row-medium overflowdiv">
            <div class="section-content">
              <p class="white-color uppercase bold-fonts" data-aos="fade-up" data-aos-delay="700">
                ADISAPTAGRAM | WEST BENGAL
              </p>
            </div>
            <div class="section-content">
              <p class="white-color uppercase bold-fonts" data-aos="fade-up" data-aos-delay="800">
                2019
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="abin-design-studio-section relative" id="abin-design-studio-project-detail-2">
    <div class="overview-flex-wrapper">
      <div class="overview-content-card">
        <div class="section-subtitle">
          <p class="regular-fonts scroll-reveal-text" id="scroll-reveal-text">
            Abin Design Studio built the Waterfront Arena in rural West Bengal as a low-cost, community-driven clubhouse
            supporting young footballers. Utilizing local materials, labor, and donations.
          </p>

        </div>
      </div>
      <div class="overview-image">
        <img src="./assets/images/projects/waterfront-pavilion/detail-popup-mob.png" alt="">
      </div>
    </div>
  </section>
  <div class="inner-flex inner-flex-sidepadding-gap">
    <section class="abin-design-studio-section relative" id="abin-design-studio-project-detail-3">
      <div class="section-abs-section">
        <div class="main-container">
          <div class="section-subtitle inner-abs-container">
            <p class="white-color regular-fonts lh1">The story of Adisaptagram's football club and the construction of a
              clubhouse by Abin
              Design Studio is a compelling narrative of community-driven development.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="abin-design-studio-section relative" id="abin-design-studio-project-detail-4"></section>
    <section class="abin-design-studio-section relative" id="abin-design-studio-project-detail-5">
      <div class="image-overlay"></div>
      <div class="section-abs-section">
        <div class="main-container">
          <div class="section-subtitle inner-abs-container-2">
            <p class="white-color regular-fonts lh1">
              Utilizing local materials, labor, and donations, the structure includes basic sanitation, multipurpose
              spaces, and a viewing deck. It symbolizes inclusive development, sustainability, and hope for a better
              community future.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="abin-design-studio-section relative" id="abin-design-studio-project-detail-6">
      <div class="abin-sec-6-grid">
        <div class="sec-6-image">
          <img #scalableImage src="./assets/images/projects/waterfront-pavilion/clubhouse5_2-web.jpg" alt="">
        </div>
        <div class="sec-6-image">
          <img #scalableImage src="./assets/images/projects/waterfront-pavilion/clubhouse5_1.jpg" alt="">
        </div>
      </div>
    </section>
    <section class="abin-design-studio-section relative" id="abin-design-studio-project-detail-7"></section>
  </div>
</div>
