<ng-container *ngIf="loading">
  <div class="skeleton-wrapper">
    <div class="skeleton-banner shimmer"></div>
    <!-- <div class="skeleton-section shimmer" *ngFor="let i of [1,2,3,4]"></div> -->
  </div>
</ng-container>


<ng-container *ngIf="!loading">
  <div id="abin-design-studio-project-detail-page-wrapper" class="abin-design-studio-page-wrapper">
    <section class="abin-design-studio-section relative parallax-section" id="abin-design-studio-project-detail-1"
      *ngIf="!loading">
      <div class="parallax-bg" #parallaxBg [ngStyle]="{
      'background-image': bannerImageUrl ? 'url(' + bannerImageUrl + ')' : 'none'
    }"></div>
      <div class="detail-banner-abs">
        <div class="main-container">
          <!-- <div class="inner-flex inner-flex-big"> -->
          <div class="w100" [ngClass]="isMobile ? 'inner-flex inner-flex-medium' : 'flex-row inner-flex-big'" [ngStyle]="isMobile ? {} : { 'align-items': 'center'}" style="justify-content: space-between;">
            <div class="inner-flex inner-flex-small">
              <div *ngIf="projectDetailObj.project">
                <!-- *ngFor="let word of projectDetailObj?.project?.split(' '); let i = index"> -->
                <div class="banner-title overflowdiv">
                  <!-- <h4 class="white-color uppercase" data-aos="fade-up" [attr.data-aos-delay]="300 + (i * 200)"> -->
                  <h1 class="white-color bold-fonts lh1" data-aos="fade-up" data-aos-delay="450">
                    {{ projectDetailObj?.project }}
                  </h1>
                </div>
              </div>
              <!-- <div class="overflowdiv section-subtitle2 lh1" *ngIf="projectDetailObj.tagline">
                <p class="white-color bold-fonts lh1" data-aos="fade-up" data-aos-delay="600">
                  {{ projectDetailObj.tagline }}
                </p>
              </div> -->
            </div>
            <!-- <div class="flex-row flex-row-small flex-col-mobile overflowdiv">
              <div class="section-content lh1" *ngIf="projectDetailObj.location">
                <p class="white-color uppercase lh1 regular-fonts" data-aos="fade-up" data-aos-delay="700">
                  {{projectDetailObj.location}}
                </p>
              </div>
              <div class="section-content lh1" *ngIf="projectDetailObj.year && !isMobile">
                <p class="white-color uppercase lh1 regular-fonts" data-aos="fade-up" data-aos-delay="800">
                  /
                </p>
              </div>
              <div class="section-content lh1" *ngIf="projectDetailObj.year">
                <p class="white-color uppercase lh1 regular-fonts" data-aos="fade-up" data-aos-delay="800">
                  {{ projectDetailObj.year }}
                </p>
              </div>
              <div class="section-content lh1" *ngIf="projectDetailObj.area && !isMobile">
                <p class="white-color uppercase lh1 regular-fonts" data-aos="fade-up" data-aos-delay="900">
                  /
                </p>
              </div>
              <div class="section-content lh1" *ngIf="projectDetailObj.area">
                <p class="white-color uppercase lh1 regular-fonts" data-aos="fade-up" data-aos-delay="900">
                  {{ projectDetailObj.area }}
                </p>
              </div>
              <div class="section-content lh1" *ngIf="projectDetailObj.type && !isMobile">
                <p class="white-color uppercase lh1 regular-fonts" data-aos="fade-up" data-aos-delay="1000">
                  /
                </p>
              </div>
              <div class="section-content lh1" *ngIf="projectDetailObj.type">
                <p class="white-color uppercase lh1 regular-fonts" data-aos="fade-up" data-aos-delay="1000">
                  {{ projectDetailObj.type }}
                </p>
              </div>
            </div> -->
            <div class="inner-row flex-row-smallest flex-col-mobile overflowdiv" [ngStyle]="isMobile ? {} : { 'text-align': 'right'}" data-aos="fade-up" data-aos-delay="550">
              <div class="section-content" *ngIf="projectDetailObj.location">
                <p class="white-color uppercase regular-fonts">
                  {{projectDetailObj.location}}
                </p>
              </div>
              <div class="section-content lh1" *ngIf="projectDetailObj.year">
                <p class="white-color uppercase regular-fonts">
                  {{ projectDetailObj.year }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="abin-design-studio-section relative section-padding" id="abin-design-studio-project-detail-2">


      <div class="overview-flex-wrapper">
        <div class="overview-content-card">
          <div class="section-subtitle">
            <p class="regular-fonts scroll-reveal-text" id="scroll-reveal-text"
              [innerHTML]="projectDetailObj.short_description"></p>
          </div>


        </div>
        <div class="overview-image relative">

          <div class="publication-popup" *ngIf="projectDetailObj?.publication_details?.length"
            [ngClass]="{'publication-popup-active': isPublicationOpen}">
            <div class="publicatiuon-popup-card" *ngFor="let pub of projectDetailObj.publication_details">

              <!-- Popup Image -->
              <div class="publication-popup-img relative">
                <div class="section-paragraph close-publications c-pointer" (click)="closeAll()">
                  <p class="white-color">&times;</p>
                </div>
                <img [src]="pub.thumbnail" [alt]="pub.title || 'Publication Image'" class="publication-image">
              </div>

              <!-- Title -->
              <div class="section-paragraph">
                <p class="bold-fonts">{{ pub.title }}</p>
              </div>

              <!-- Description (render as HTML) -->
              <!-- <div class="section-paragraph" [innerHTML]="pub.description"></div> -->

            </div>
          </div>

          <div class="credits-popup" [ngClass]="{'credits-popup-active': isCreditOpen}"
            *ngIf="projectDetailObj?.credits_content?.length">
            <div class="inner-flex inner-flex-small inner-popup-space"
              [ngClass]="{'inner-popup-space-active': isInnerPopupActive}">
              <div class="section-paragraph c-pointer" (click)="closeAll()" style="align-self: end;">
                <p>&times;</p>
              </div>
              <div class="section-paragraph section-paragraph-credit">
                <p class="helvetica-bold lh1">
                  credits
                </p>
              </div>
              <div class="credits-inner-flex">
                <div class="inner-flex inner-flex-small">
                  <div class="inner-flex inner-flex-smallest section-content"
                    *ngFor="let creditData of projectDetailObj.credits_content">
                    <p class="lh1 helvetica">
                      {{creditData.title}}
                    </p>
                    <p class="lh1 helvetica-bold">{{creditData.content}}</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="abs-click-btns">
            <div class="section-paragraph" data-aos="fade-up" data-aos-delay="400"
              *ngIf="projectDetailObj?.publication_details?.length">
              <p (click)="openPublication()" class="c-pointer semibold-fonts uppercase">+ Publication</p>
            </div>
            <div class="section-paragraph" data-aos="fade-up" data-aos-delay="500"
              *ngIf="projectDetailObj?.credits_content?.length">
              <p (click)="openCredits()" class="c-pointer semibold-fonts uppercase">+ Credits</p>
            </div>
          </div>
          <img src="./assets/images/projects/waterfront-pavilion/detail-popup-mob.png" alt="">
        </div>
      </div>
    </section>


    <div class="inner-flex inner-flex-sidepadding-gap">
      <ng-container *ngFor="let section of projectDetailObj.sections; let i = index">

        <!-- Skip banner-block -->
        <ng-container *ngIf="section.type !== 'banner-block'">

          <!-- text-image-block & image-text-block -->
          <section *ngIf="section.type === 'text-image-block' || section.type === 'image-text-block'"
            class="abin-design-studio-section bg-image-section-detail relative"
            [ngStyle]="{'background-image': 'url(' + section.content.image_view + ')'}">

            <div class="visible-tab-mobile mobile-detail-images">
              <img [src]="section.content.image_view" alt="">
            </div>
            <div class="image-overlay"></div>
            <div class="section-abs-section">
              <div class="main-container">
                <div class="section-subtitle inner-abs-container" data-aos="fade-up" data-aos-delay="25 0">
                  <p class="white-color bold-fonts lh1" [innerHTML]="section.content.text"></p>
                </div>
              </div>
            </div>
          </section>

          <!-- image-block -->
          <section *ngIf="section.type === 'image-block'"
            class="abin-design-studio-section bg-image-section-detail relative"
            [ngStyle]="{'background-image': 'url(' + section.content.image_view + ')'}">
            <div class="visible-tab-mobile mobile-detail-images">
              <img [src]="section.content.image_view" alt="">
            </div>
          </section>


          <!-- video-block -->
          <section *ngIf="section.type === 'upload-video'"
            class="abin-design-studio-section bg-image-section-detail detail-video-section relative">

            <video #autoVideo src="./assets/images/projects/ waterfront-pavilion/dummy-video.mp4" muted playsinline
              preload="auto" loop style="width:100%; height:100%; object-fit:cover;"></video>

          </section>

          <!-- gallery-block -->
          <section *ngIf="section.type === 'gallery-block'" class="abin-design-studio-section relative">
            <div class="abin-sec-6-grid" appFancybox>
              <!-- 👈 Directive here -->
              <div class="sec-6-image" *ngFor="let img of section.content">
                <a data-fancybox="gallery" [attr.href]="img.image_view"> <img [src]="img.image_view" alt="">
                </a>
              </div>
            </div>
          </section>


        </ng-container>

      </ng-container>
    </div>
    <section class="abin-design-studio-section relative" id="abin-design-studio-project-detail-8">
      <div class="nex-prev-grid">
        <a routerLink="/{{projectDetailObj.previous_projects.slug}}/" routerLinkActive="active"
          class="prev-div-wrapper relative">
          <div class="prev-nex-img-div">
            <img src="{{projectDetailObj.previous_projects.featured_image_full}}&w=1080&h=1080&q=100" alt="">
            <div class="overlay-next-rev"></div>
          </div>
          <div class="prev-abs-wrapper prev-next-abs-wrapper">
            <div class="section-subtitle2">
              <p class="semibold-fonts  lh1"
                [ngStyle]="{'color': projectDetailObj.previous_projects.prev_next_text_color, 'important': true}">
                {{projectDetailObj.previous_projects.project}}
              </p>
            </div>
            <div class="section-content">
              <p class=" lh1"
                [ngStyle]="{'color': projectDetailObj.previous_projects.prev_next_text_color, 'important': true}">
                Previous Project
              </p>
            </div>
          </div>
        </a>
        <a [routerLink]="'/' + projectDetailObj.previous_projects.slug + '/'" routerLinkActive="active"
          class="next-div-wrapper relative">

          <div class="prev-nex-img-div">
            <img [src]="projectDetailObj.next_project.featured_image_full + '&w=1080&h=1080&q=100'" alt="">
            <div class="overlay-next-rev"></div>
          </div>

          <div class="next-abs-wrapper prev-next-abs-wrapper">
            <div class="section-subtitle2">
              <p class="semibold-fonts lh1"
                [ngStyle]="{'color': projectDetailObj.next_project.prev_next_text_color, 'important': true}">
                {{ projectDetailObj.next_project.project }}
              </p>
            </div>

            <div class="section-content">
              <p class="lh1"
                [ngStyle]="{'color': projectDetailObj.next_project.prev_next_text_color, 'important': true}">
                Next Project
              </p>
            </div>
          </div>
        </a>

      </div>
    </section>
  </div>






</ng-container>
<div class="popup-overlay visible-tab-mobile" [ngClass]="{'popup-overlay-active': isOverlayActive}"
  (click)="closeAll()">
</div>
