<div id="abin-design-studio-project-svg-page-wrapper" class="abin-design-studio-page-wrapper">
  <section class="abin-design-studio-section section-padding relative parallax-section"
    id="abin-design-studio-project-svg-1">
    <div class="main-container">
      <div class="projct-svg-list-container">
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2011-Infibnet-Center.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Waterfront Pavilion
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/20xx-GalleryWhite.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Gallery House
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/20xx-Svaram.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Waterfront Pavilion
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2009-55+56-Sumeru.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Gallery House
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2011-DP-Twins.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Waterfront Pavilion
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2013-Bharti-Annex.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Gallery House
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2013-National-Innovation-Foundation.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Waterfront Pavilion
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2015-Sinha-Slats.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Gallery House
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2017-Alloa-Weekend-Home.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Waterfront Pavilion
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2017-Saar Pool&-Spa.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Gallery House
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2018-079-Stories.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Waterfront Pavilion
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2018-Black-Perch.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Gallery House
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2018-KA-House.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Waterfront Pavilion
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2019-Terra-Pavillion.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Gallery House
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2020-House-around-the-chikootrees.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Waterfront Pavilion
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2021-Koteshwar.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Gallery House
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2023-B85.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Waterfront Pavilion
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2023-Indology-Extension.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Gallery House
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2023-Manav-Sadhna.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Waterfront Pavilion
              </p>
            </div>
          </div>
        </div>
        <div routerLink="/project-detail/" routerLinkActive="active" class="project-svg-card relative">
          <div class="project-svg-image relative">
            <img src="./assets/images/projects/listing/2024-GIAN.svg" alt="">
            <div class="project-list-overlay" routerLink="/project-detail/" routerLinkActive="active"></div>
            <div class="section-paragraph project-name-list lh1" routerLink="/project-detail/"
              routerLinkActive="active">
              <p class="lh1">
                Gallery House
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
