<div id="abin-design-studio-news-page-wrapper" class="abin-design-studio-page-wrapper">
  <div class="overlay"></div>
  <section class="abin-design-studio-section section-padding-small relative parallax-section" id="abin-design-studio-news-1">
    <!-- <div class="main-container">
      <ng-container *ngIf="isMobile">
        <div *ngIf="isMobile" class="news-category-dropdown-wrapper">
          <div class="dropdown-selected" (click)="dropdownOpen = !dropdownOpen">
            {{ activeCategory }}
            <span class="arrow" [class.open]="dropdownOpen"></span>
          </div>
          <div class="dropdown-list" *ngIf="dropdownOpen" (click)="$event.stopPropagation()">
            <div class="dropdown-item" *ngFor="let cat of categories"
              (click)="setActiveCategory(cat, $event); dropdownOpen = false">
              {{ cat }}
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!isMobile">
        <div class="news-category-tabs">
          <div class="news-tabs" *ngFor="let cat of categories" (click)="setActiveCategory(cat)"
            [class.active]="activeCategory === cat">
            {{ cat }}
          </div>
        </div>
      </ng-container>



    </div> -->
    <div class="news-swiper relative" [class.home-swiper]="fromHome">
      <div class="swiper" #swiperEl>
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let news of filteredNews">
            <div class="news-card">
              <div class="news-card-image relative">
                <img [src]="news.image" alt="{{ news.title }}" class="news-image" />
                <div class="cat-label-news">{{ news.category }}</div>
              </div>
              <div class="news-content inner-flex inner-flex-smallest">
                <div class="section-paragraph">
                  <p class="title">{{ news.title }}</p>
                </div>
                <div class="section-text">
                  <p class="date">{{ news.date }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="swiper-pagination"></div>
      </div>
      <div class="abs-btn" *ngIf="fromHome">
            <a class="download-pdf-btn wfc m-auto" routerLink="/news" >
              <button class="button-style-secondary abin-design-studio-button">
                <p>
                  View All
                </p>
              </button>
            </a>
      </div>
    </div>

  </section>
</div>
