.news-category-tabs {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: var(--small-gap-size) 0;
  border-bottom: 1px solid #DEDEDE;
}

#abin-design-studio-news-page-wrapper {
  min-height: fit-content;
  position: relative;
  width: 100%;
  /* smooth scrolling */

  background-image: url('/assets/images/about/about-bg-banner.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Keep overlay covering each section */
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.news-tabs {
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 1;
  font-size: 1.1rem;
  color: var(--primary-color);
}

.news-tabs:hover {
  background-color: #F5F5F5;
  border-color: #F5F5F5;
}

.news-tabs.active {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-color: var(--primary-color);
}

::ng-deep .news-swiper {
  margin-top: 4.5rem;
}

::ng-deep .header-wrapper.webmenu_hidden {
  top: 0% !important;
}

::ng-deep .news-swiper .swiper {
  width: 100%;
}

::ng-deep .news-swiper .swiper-slide {
  transition: transform .3s ease, opacity .3s ease;
  opacity: 1;
  will-change: transform;
  transform: scale(0.85);
}

::ng-deep .news-swiper .swiper-slide-active {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}


.news-title {
  min-height: 7.5vh;
}


.cat-label-news {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 0.75rem;
  line-height: 1;
  font-size: 0.95rem;
}

.news-card {
  cursor: pointer;
  padding: 1.5rem;
  background-color: var(--white-color);
}

.news-content {
  margin-top: 1rem;
}

.readmore-link-flex-blog {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--primary-color);
  display: flex;
  flex-direction: row;
  gap: var(--small-gap-size);
  opacity: 0.5;
  transition: var(--common-transition);
  align-items: center;
  justify-content: space-between;
}

.news-card:hover .readmore-link-flex-blog {
  opacity: 1;
}

.news-swiper {
  width: 100%;
}

.readmore-link-img {
  width: 2rem;
  height: 2rem;
  display: grid;
  transition: var(--common-transition);
  place-items: center;
  padding: 0.25rem;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
}

.news-card:hover .readmore-link-img {
  background-color: var(--primary-color);
  transition: var(--common-transition);
}

.news-card:hover .readmore-link-img img {
  filter: invert(1);
  transition: var(--common-transition);
}



@media only screen and (max-width: 1760px) {}

@media only screen and (max-width: 1680px) {}

@media only screen and (max-width: 1450px) {

  .news-list {
    grid-template-columns: repeat(3, 1fr);
  }
}


::ng-deep .swiper-pagination {
  position: relative;
  top: unset;
  bottom: unset;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
  left: unset;
  transform: unset;
}

::ng-deep .swiper-pagination .swiper-pagination-bullet {
  background-color: #FFF !important;
}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1152px) {}

@media only screen and (max-width: 1024px) {
  .news-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  #abin-design-studio-news-page-wrapper {
    padding: 4rem 0;
  }

  .news-swiper {
    width: 100%;
    padding: 0 1.5rem;
  }


  #abin-design-studio-news-1 {
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .news-list {
    grid-template-columns: 100%;
  }

  .news-category-tabs {
    flex-wrap: wrap;
  }


  .news-category-dropdown-wrapper {
    position: relative;
    min-width: 140px;
    max-width: max-content;
  }

  .dropdown-selected {
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    font-size: 16px;
    gap: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #dedede;
    background: #fff;
    z-index: 10;
  }


  .readmore-link-flex-blog .section-content p {
    font-size: 14px !important;
  }

  .dropdown-item {
    padding: 0.75rem 1.5rem;
    font-size: 14px;
    cursor: pointer;
  }

  .dropdown-item:hover {
    background: #f5f5f5;
  }

  .arrow {
    display: inline-block;
    margin-left: 6px;
    width: 6px;
    height: 6px;
    border-right: 2px solid #FFF;
    /* Uses text color */
    border-bottom: 2px solid #FFF;
    transform: rotate(45deg);
    /* Makes a small chevron down */
    transition: transform 0.25s ease-in-out;
  }

  .arrow.open {
    transform: rotate(-135deg);
    /* Flips it up */
  }


}
