<div class="header-wrapper" [class.black-header-wrapper]="isProjectsPage || isTeamPage || projectListingTrue" [class.webmenu_hidden]="isHeaderHidden"
  [class.header_change]="isHeaderChanged" [class.headerActiveOpen]="isMenuActive" *ngIf="!isLandingPage">

  <div class="header-flex main-container">
    <div class="header-logo">
      <a href="javascript:void(0);" routerLink="/home" routerLinkActive="active">
        <img src="assets/images/logo/white-logo-ads.png" alt="" class="white-header-logo" />
        <img src="assets/images/logo/white-logo-ads.png" alt="" class="black-header-logo" />
      </a>
    </div>

    <div id="header-search-input-wrapper" class="form-card relative">
      <div class="form-input-icon">
        <img src="assets/images/search-white.svg" alt="" />
      </div>
      <input type="search" class="form-control-abin-design-studio form-control-abin-design-studio-search"
        placeholder="Search..." />
    </div>

    <!-- Web bar -->
    <div class="web-bar" (click)="toggleMenu();closeContactNav();" [class.active]="isMenuActive">
      <div class="bar top"></div>
      <div class="bar middle"></div>
      <div class="bar bottom"></div>
    </div>
  </div>
</div>
<div class="header-overlay" [class.active]="isMenuActive" (click)="closeMenu()"></div>
<!-- Menu (hidden/toggled) -->

<div class="menu-wrapper" [class.active]="isMenuActive">
  <ng-container id="header-navigation-main" *ngIf="!isContactNavActive">
    <div class="main-nav-flex">
      <div class="menu-wrapper-web-links-grid main-container" [class.visible]="isMenuLinksVisible">
        <div class="menu-wrapper-column">
          <div class="inner-flex inner-flex-small main-nav-flex-project">
            <div class="section-content">
              <p class="semibold-fonts lh1 uppercase ">
                Projects
              </p>
            </div>
            <div class="inner-flex inner-flex-common">
              <div class="section-subtitle2">
                <p class="bold-fonts  lh1">
                  Architure
                </p>
              </div>
              <div class="inner-flex">
                <div class="section-paragraph">
                  <a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Educational</a>
                </div>
                <div class="section-paragraph">
                  <a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Hospitality</a>
                </div>
                <div class="section-paragraph">
                  <a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Public</a>
                </div>
                <div class="section-paragraph">
                  <a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Homes</a>
                </div>
                <div class="section-paragraph">
                  <a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Housing</a>
                </div>
                <div class="section-paragraph">
                  <a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Experience</a>
                </div>
              </div>
            </div>
            <div class="inner-flex inner-flex-common">
              <div class="section-subtitle2">
                <p class="bold-fonts  lh1">
                  Interior
                </p>
              </div>
              <div class="inner-flex">
                <div class="section-paragraph">
                  <a routerLink="/projects-svg" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Educational</a>
                </div>
                <div class="section-paragraph">
                  <a routerLink="/projects-svg" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Hospitality</a>
                </div>
                <div class="section-paragraph">
                  <a routerLink="/projects-svg" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Public</a>
                </div>
                <div class="section-paragraph">
                  <a routerLink="/projects-svg" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Homes</a>
                </div>
                <div class="section-paragraph">
                  <a routerLink="/projects-svg" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Housing</a>
                </div>
                <div class="section-paragraph">
                  <a routerLink="/projects-svg" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Experience</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="menu-wrapper-column">
          <div class="inner-flex inner-flex-common">
            <div class="section-content">
              <p class="semibold-fonts lh1 uppercase ">
                PRACTICE
              </p>
            </div>
            <div class="inner-flex">
              <div class="section-paragraph">
                <a href="javascript:void(0);" class=" lh1">History</a>
              </div>
              <div class="section-paragraph">
                <a routerLink="/studio" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Studio</a>
              </div>
              <div class="section-paragraph">
                <a routerLink="/our-team" routerLinkActive="active" (click)="closeMenu()" class=" lh1">People</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom-links" [class.active]="isMenuLinksVisible">
        <ul>
          <li>
            <a href="" class="section-paragraph">
              <p class="semibold-fonts">Instagram</p>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="section-paragraph" id="contact-detail-navigation" (click)="openContactNav()">
              <p class="semibold-fonts">Contact</p>
            </a>
          </li>
          <li>
            <a href="" class="section-paragraph">
              <p class="semibold-fonts">News</p>
            </a>
          </li>
          <li>
            <a href="" class="section-paragraph">
              <p class="semibold-fonts">Careers</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  <ng-container id="header-navigation-contact" *ngIf="isContactNavActive">
    <div class="contact-navigation-wrapper relative">
      <div class="contact-nav-close-click"  (click)="closeContactNav();">
        <img src="./assets/images/back-icon.svg" alt="">
      </div>
      <div class="inner-flex inner-flex-medium inner-end-flex">
        <div class="section-subtitle2">
          <p class="semibold-fonts">
            Contact
          </p>
        </div>
        <div class="inner-flex inner-flex-smallest section-paragraph">
          <p class="lh1">
            For project & media related inquiries:
          </p>
          <a href="mailto:" target="_blank">
            <p class="lh1">
              contact@abindesignstudio.com
            </p>
          </a>
        </div>
        <div class="inner-flex inner-flex-smallest section-paragraph">
          <p class="lh1">
            For Employment:
          </p>
          <a href="mailto:" target="_blank">
            <p class="lh1">
              click <span class="semibold-fonts" style="color: var(--primary-color) !important;">HERE</span> to apply
            </p>
          </a>
        </div>
        <div class="inner-flex inner-flex-small inner-end-flex">
          <div class="section-subtitle2">
            <p class="uppercase semibold-fonts">
              Abin Design Studio
            </p>
          </div>
          <div class="inner-flex inner-flex-smallest section-paragraph">
            <p class="">
              62/2, Hindustan Park Rd,<br class="hide-tab-mobile"> Golpark, Hindustan Park, Gariahat, <br
                class="hide-tab-mobile">Kolkata, West Bengal 700029
            </p>
            <a href="tel:+91-03324666191">
              <p class="">
                Phone : 033 2466 6191
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
