<div class="header-wrapper"
  [class.black-header-wrapper]="isProjectsPage || isNewsDetailPage || isTeamPage || projectListingTrue || isPublicationsPage"
  [class.webmenu_hidden]="isHeaderHidden" [class.header_change]="isHeaderChanged"
  [class.headerActiveOpen]="isMenuActive" *ngIf="!isLandingPage">

  <div class="header-flex main-container">
    <div class="header-logo">
      <a href="javascript:void(0);" routerLink="/home" routerLinkActive="active">
        <img src="assets/images/logo/white-logo-ads.png" alt="" class="white-header-logo" />
        <img src="assets/images/logo/white-logo-ads.png" alt="" class="black-header-logo" />
      </a>
    </div>

    <!-- <div id="header-search-input-wrapper" class="form-card relative">
      <div class="form-input-icon">
        <img src="assets/images/search-white.svg" alt="" />
      </div>
      <input type="search" class="form-control-abin-design-studio form-control-abin-design-studio-search"
        placeholder="Search..." />
    </div> -->

    <!-- Web bar -->
    <div class="web-bar" (click)="toggleMenu();closeContactNav();" [class.active]="isMenuActive">
      <div class="bar top"></div>
      <div class="bar middle"></div>
      <div class="bar bottom"></div>
    </div>
  </div>
</div>
<div class="header-overlay" [class.active]="isMenuActive" (click)="closeMenu()"></div>
<!-- Menu (hidden/toggled) -->

<div class="menu-wrapper" [class.active]="isMenuActive">
  <ng-container id="header-navigation-main" *ngIf="!isContactNavActive">
    <div class="main-nav-flex">
      <div class="header-links-flex inner-flex inner-flex-medium inner-flex-center">
        <div class="section-paragraph">
          <p class="uppercase bold-fonts c-pointer lh1" (click)="closeMenu()">Search</p>
        </div>
        <div class="section-paragraph">
          <p class="uppercase bold-fonts c-pointer lh1" (click)="closeMenu()">Projects</p>

          <ng-container>
            <div class="inner-flex project-header-links inner-flex-small">
              <div class="projects-link-flex-row" *ngFor="let category of categories; let i = index">

                <!-- Category -->
                <div class="section-paragraph">
                  <p class="regular-fonts c-pointer category-click lh1" (click)="toggleCategory(i)">
                    {{ category.name }}
                  </p>
                </div>

                <!-- Child Categories -->
                <ng-container>
                 <div class="inner-project-flex-row" #childContainer
     [class.active]="activeCategory === i">
  <div class="section-paragraph c-pointer" *ngFor="let child of category.child_categories">
    <a routerLink="/projects/{{category.slug}}/{{child.slug}}" routerLinkActive="active"
       (click)="closeMenu()" class="lh1 light-fonts">
      {{ child.name }}
    </a>
  </div>
</div>

                </ng-container>

              </div>
            </div>
          </ng-container>

        </div>

        <div class="section-paragraph">
          <p class="uppercase bold-fonts c-pointer lh1" routerLink="/studio" routerLinkActive="active"
            (click)="closeMenu()">Practice</p>
        </div>
        <div class="section-paragraph">
          <p class="uppercase bold-fonts c-pointer lh1" routerLink="/news" routerLinkActive="active"
            (click)="closeMenu()">News</p>
        </div>
        <div class="section-paragraph">
          <p class="uppercase bold-fonts c-pointer lh1" routerLink="/contact" routerLinkActive="active"
            (click)="closeMenu()">Contact</p>
        </div>
        <div class="section-content address-header">
          <a [href]="addressLink" target="_blank" class="text-center light-fonts" (click)="closeMenu()">
            <p>
              {{ address }}
            </p>
          </a>
        </div>

      </div>
      <!-- <div class="menu-wrapper-web-links-grid main-container" [class.visible]="isMenuLinksVisible">
        <div class="menu-wrapper-column">
          <div class="inner-flex inner-flex-small main-nav-flex-project">
            <div class="section-content">
              <p class="semibold-fonts lh1 uppercase ">
                Projects
              </p>
            </div>
            <div class="inner-flex inner-flex-common" *ngFor="let category of categories">
              <div class="section-subtitle2">
                <p class="bold-fonts lh1">
                  {{ category.name }}
                </p>
              </div>
              <div class="inner-flex" *ngIf="category.child_categories?.length">
                <div class="section-paragraph" *ngFor="let child of category.child_categories">
                  <a routerLink="/projects/{{category.slug}}/{{child.slug}}" routerLinkActive="active" (click)="closeMenu()"
                    class="lh1">
                    {{ child.name }}
                  </a>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="menu-wrapper-column">
          <div class="inner-flex inner-flex-common">
            <div class="section-content">
              <p class="semibold-fonts lh1 uppercase ">
                PRACTICE
              </p>
            </div>
            <div class="inner-flex">
              <div class="section-paragraph">
                <a href="javascript:void(0);" class=" lh1">History</a>
              </div>
              <div class="section-paragraph">
                <a routerLink="/studio" routerLinkActive="active" (click)="closeMenu()" class=" lh1">Studio</a>
              </div>
              <div class="section-paragraph">
                <a routerLink="/our-team" routerLinkActive="active" (click)="closeMenu()" class=" lh1">People</a>
              </div>
              <div class="section-paragraph">
                <a routerLink="/publications" routerLinkActive="active" (click)="closeMenu()"
                  class=" lh1">Publications</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom-links" [class.active]="isMenuLinksVisible">
        <ul>
          <li>
            <a href="" class="section-paragraph">
              <p class="semibold-fonts">Instagram</p>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="section-paragraph" id="contact-detail-navigation"
              (click)="openContactNav()">
              <p class="semibold-fonts">Contact</p>
            </a>
          </li>
          <li>
            <a routerLink="/news" routerLinkActive="active" (click)="closeMenu()" class="section-paragraph">
              <p class="semibold-fonts">News</p>
            </a>
          </li>
          <li>
            <a href="" class="section-paragraph">
              <p class="semibold-fonts">Careers</p>
            </a>
          </li>
        </ul>
      </div> -->
    </div>
  </ng-container>
  <ng-container id="header-navigation-contact" *ngIf="isContactNavActive">
    <div class="contact-navigation-wrapper relative">
      <div class="contact-nav-close-click" (click)="closeContactNav();">
        <img src="./assets/images/back-icon.svg" alt="">
      </div>
      <div class="inner-flex inner-flex-medium inner-end-flex">
        <div class="section-subtitle2">
          <p class="semibold-fonts">
            Contact
          </p>
        </div>
        <div class="inner-flex inner-flex-smallest section-paragraph">
          <p class="lh1">
            For project & media related inquiries:
          </p>
          <a href="mailto:" target="_blank">
            <p class="lh1">
              contact@abindesignstudio.com
            </p>
          </a>
        </div>
        <div class="inner-flex inner-flex-smallest section-paragraph">
          <p class="lh1">
            For Employment:
          </p>
          <a href="mailto:" target="_blank">
            <p class="lh1">
              click <span class="semibold-fonts" style="color: var(--primary-color) !important;">HERE</span> to apply
            </p>
          </a>
        </div>
        <div class="inner-flex inner-flex-small inner-end-flex">
          <div class="section-subtitle2">
            <p class="uppercase semibold-fonts">
              Abin Design Studio
            </p>
          </div>
          <div class="inner-flex inner-flex-smallest section-paragraph">
            <p class="">
              62/2, Hindustan Park Rd,<br class="hide-tab-mobile"> Golpark, Hindustan Park, Gariahat, <br
                class="hide-tab-mobile">Kolkata, West Bengal 700029
            </p>
            <a href="tel:+91-03324666191">
              <p class="">
                Phone : 033 2466 6191
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
