<div class="abin-design-studio-section section-padding relative" style="width: 100%;">
   <div class="grid2 main-container">
        <div class="heading inner-flex inner-flex-big" style="justify-content: space-between; overflow-x: hidden;">
            <div class="banner-title" style="background-color: #000000; width: 100%; pointer-events: all;">
                <h1>Site <br /> Credits</h1>
            </div>
            <div class="section-content" style="background-color: #000000; width: 100%; pointer-events: all;">
                <p class="grey hover-red"><a href="javascript:void(0)">Privacy Policy</a></p>
                <p class="grey hover-red"><a href="javascript:void(0)">Terms & Conditions</a></p>
                <p><a href="javascript:void(0)">Copyright 2025 | Abin Design Studio</a></p>
            </div>
        </div>
        <div class="credits inner-flex inner-flex-small">
            <div class="section-subtitle2 inner-flex inner-flex-smallest">
                <p class="grey">Powered By:</p>
                <p><a href="https://www.saltpixels.in/" target="_blank">Salt Pixels</a></p>
            </div>
            <div class="section-subtitle2 inner-flex inner-flex-smallest">
                <p class="grey">Powered By:</p>
                <p><a href="https://www.saltpixels.in/" target="_blank">Salt Pixels</a></p>
            </div>
            <div class="section-subtitle2 inner-flex inner-flex-smallest">
                <p class="grey">Powered By:</p>
                <p><a href="https://www.saltpixels.in/" target="_blank">Salt Pixels</a></p>
            </div>
        </div>
   </div>
</div>