<div id="abin-design-studio-team-page-wrapper" class="abin-design-studio-page-wrapper">
  <section class="abin-design-studio-section section-padding relative parallax-section" id="abin-design-studio-team-1">
    <div class="main-container">
      <div class="team-wrapper">
        <div class="team-content-wrapper">
          <div class="inner-flex inner-flex-small">
            <div class="section-title lh1">
              <h1 class="lh1">Our Team</h1>
            </div>
            <div class="section-paragraph">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur voluptatibus aperiam in voluptatem ratione, minima exercitationem tempora, sunt magnam dolor unde, optio eum. Sapiente optio cupiditate facere ducimus odio ab nesciunt corrupti reiciendis doloribus. Ipsam obcaecati laborum, soluta, dignissimos cumque, nemo magni debitis quis ut voluptates error corporis eos recusandae.
              </p>
            </div>
          </div>
        </div>
        <div class="teams-images">
            <img src="./assets/images/our-team-banner.jpg" class="hide-tab-mobile" alt="">
            <img src="./assets/images/our-team-banner-mob.jpg" class="visible-tab-mobile" alt="">
        </div>
      </div>
    </div>
  </section>
</div>
