<ng-container *ngIf="isLoading">
  <div class="skeleton-wrapper">
    <div class="skeleton-banner shimmer"></div>
    <!-- <div class="skeleton-section shimmer" *ngFor="let i of [1,2,3,4]"></div> -->
  </div>
</ng-container>
<ng-container *ngIf="!isLoading">
  <div id="abin-design-studio-home-page-wrapper" class="abin-design-studio-page-wrapper" #pageWrapper>
    <section *ngFor="let banner of homePageDetails; let i = index" class="abin-design-studio-section-home-single-screen"
      [ngClass]="{ 'parallax-section': i === 0 }" [ngStyle]="{
    'background-image':
      banner.show_video === '0'
        ? 'url(' + banner.banner_web_full + '&w=2560&h=1440&q=100' + ')'
        : 'none'
  }">
      <!-- VIDEO ONLY for first section -->
      <ng-container *ngIf="banner.show_video == '1' && i === 0">
        <video #bannerVideo *ngIf="isBrowser" autoplay muted loop playsinline preload="auto" class="banner-video"
          poster="./assets/images/home/banner-1.jpg" src="{{ banner.video_web }}"></video>
      </ng-container>

      <!-- Overlay -->
      <div class="overlay-section"></div>

      <!-- Content -->
      <div class="home-content-wrapper-abs-for-all-section">
        <div class="flex-row-home-banners">
          <div class="section-title section-title-home-container">
            <h2 class="regular-fonts">{{ banner.title }}</h2>
          </div>
          <a class="home-redirect-links" [routerLink]="'/' + banner.link">
            <p>{{ banner.link_lable }}</p>
            <div class="arrow-outword">
              <img src="./assets/images/icons/arrow_outward.svg" alt="" />
            </div>
          </a>
        </div>
      </div>
    </section>

    <section class="abin-design-studio-section relative" id="abin-design-studio-home-5">
      <div class="tab-change-image-width" style="position: relative;z-index: 5;">
        <img src="./assets/images/tabs-image.jpg" alt="" id="timeline-image-updated" width="1920" height="456">
      </div>
      <div class="main-container" style="position: relative;z-index: 5;">
        <!-- Tabs -->
        <div class="tabs">
          <span [class.active]="activeTab === 'architecture'" (click)="setTab('architecture')">ARCHITECTURE</span>
          <span [class.active]="activeTab === 'interior'" (click)="setTab('interior')">INTERIOR</span>
          <span (click)="setTab('all')">ALL PROJECTS</span>
        </div>
        <!-- Image Strip -->
        <div class="image-stirp-container" #imageStripContainer>
          <div #imageStrip class="image-strip">
            <div class="image-stip-card-img relative" *ngFor="let img of filteredImages; let i = index">
              <img [src]="img" [class.active]="i === currentIndex" [attr.alt]="'Project Image ' + (i + 1)"
                (click)="onImageClick(img)" id="timeline-image-thumbnail" />
              
            </div>
          </div>
        </div>


        <!-- Timeline -->
        <div class="timeline-container">
          <div class="timeline-track">
            <img src="./assets/images/home/swiper-bottom-line.svg" alt="">
            <div class="timeline-pointer" [style.left.%]="getPointerLeftPercent()"></div>
          </div>
          <div class="year-labels">
            <span *ngFor="let year of years" [class.active]="activeYear === year" (click)="scrollToYear(year)">
              {{ year }}
            </span>
          </div>
        </div>
      </div>
    </section>

    <section class="abin-design-studio-section relative" id="abin-design-studio-home-6">
      <app-news [fromHome]="true"></app-news>
    </section>
    
  </div>
</ng-container>
