<div id="abin-design-studio-publications-page-wrapper" class="abin-design-studio-page-wrapper">
  <section class="abin-design-studio-section relative" id="abin-design-studio-publications-1">
    <ng-container *ngIf="!isMobile">
      <div id="publications-scroll" class="publications-horizontal-scroll-wrapper">
        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Elle Decor</p>
            </div>
            <div class="section-content">
              <p>Cover story published in Elle Decor November 2024 issue</p>
            </div>
          </div>
        </div>

        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Pahal Competition</p>
            </div>
            <div class="section-content">
              <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
            </div>
          </div>
        </div>
        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Elle Decor</p>
            </div>
            <div class="section-content">
              <p>Cover story published in Elle Decor November 2024 issue</p>
            </div>
          </div>
        </div>

        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Pahal Competition</p>
            </div>
            <div class="section-content">
              <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
            </div>
          </div>
        </div>
        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Elle Decor</p>
            </div>
            <div class="section-content">
              <p>Cover story published in Elle Decor November 2024 issue</p>
            </div>
          </div>
        </div>

        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Pahal Competition</p>
            </div>
            <div class="section-content">
              <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
            </div>
          </div>
        </div>
        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Elle Decor</p>
            </div>
            <div class="section-content">
              <p>Cover story published in Elle Decor November 2024 issue</p>
            </div>
          </div>
        </div>

        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Pahal Competition</p>
            </div>
            <div class="section-content">
              <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
            </div>
          </div>
        </div>
        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Elle Decor</p>
            </div>
            <div class="section-content">
              <p>Cover story published in Elle Decor November 2024 issue</p>
            </div>
          </div>
        </div>

        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Pahal Competition</p>
            </div>
            <div class="section-content">
              <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
            </div>
          </div>
        </div>
        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Elle Decor</p>
            </div>
            <div class="section-content">
              <p>Cover story published in Elle Decor November 2024 issue</p>
            </div>
          </div>
        </div>

        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Pahal Competition</p>
            </div>
            <div class="section-content">
              <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
            </div>
          </div>
        </div>
        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Elle Decor</p>
            </div>
            <div class="section-content">
              <p>Cover story published in Elle Decor November 2024 issue</p>
            </div>
          </div>
        </div>

        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Pahal Competition</p>
            </div>
            <div class="section-content">
              <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
            </div>
          </div>
        </div>
        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Elle Decor</p>
            </div>
            <div class="section-content">
              <p>Cover story published in Elle Decor November 2024 issue</p>
            </div>
          </div>
        </div>

        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Pahal Competition</p>
            </div>
            <div class="section-content">
              <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
            </div>
          </div>
        </div>
        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Elle Decor</p>
            </div>
            <div class="section-content">
              <p>Cover story published in Elle Decor November 2024 issue</p>
            </div>
          </div>
        </div>

        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Pahal Competition</p>
            </div>
            <div class="section-content">
              <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
            </div>
          </div>
        </div>
        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Elle Decor</p>
            </div>
            <div class="section-content">
              <p>Cover story published in Elle Decor November 2024 issue</p>
            </div>
          </div>
        </div>

        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Pahal Competition</p>
            </div>
            <div class="section-content">
              <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
            </div>
          </div>
        </div>
        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Elle Decor</p>
            </div>
            <div class="section-content">
              <p>Cover story published in Elle Decor November 2024 issue</p>
            </div>
          </div>
        </div>

        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Pahal Competition</p>
            </div>
            <div class="section-content">
              <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
            </div>
          </div>
        </div>
        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Elle Decor</p>
            </div>
            <div class="section-content">
              <p>Cover story published in Elle Decor November 2024 issue</p>
            </div>
          </div>
        </div>

        <div class="publications-card-list inner-flex inner-flex-common">
          <div class="publication-card-img">
            <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
          </div>
          <div class="inner-flex inner-flex-smallest">
            <div class="section-paragraph lh1">
              <p class="semibold-fonts lh1">Pahal Competition</p>
            </div>
            <div class="section-content">
              <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>



    <ng-container *ngIf="isMobile">
      <div class="main-container">
        <div class="publications-mobile-grid">
          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Elle Decor</p>
              </div>
              <div class="section-content">
                <p>Cover story published in Elle Decor November 2024 issue</p>
              </div>
            </div>
          </div>

          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Pahal Competition</p>
              </div>
              <div class="section-content">
                <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
              </div>
            </div>
          </div>
          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Elle Decor</p>
              </div>
              <div class="section-content">
                <p>Cover story published in Elle Decor November 2024 issue</p>
              </div>
            </div>
          </div>

          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Pahal Competition</p>
              </div>
              <div class="section-content">
                <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
              </div>
            </div>
          </div>
          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Elle Decor</p>
              </div>
              <div class="section-content">
                <p>Cover story published in Elle Decor November 2024 issue</p>
              </div>
            </div>
          </div>

          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Pahal Competition</p>
              </div>
              <div class="section-content">
                <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
              </div>
            </div>
          </div>
          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Elle Decor</p>
              </div>
              <div class="section-content">
                <p>Cover story published in Elle Decor November 2024 issue</p>
              </div>
            </div>
          </div>

          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Pahal Competition</p>
              </div>
              <div class="section-content">
                <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
              </div>
            </div>
          </div>
          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Elle Decor</p>
              </div>
              <div class="section-content">
                <p>Cover story published in Elle Decor November 2024 issue</p>
              </div>
            </div>
          </div>

          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Pahal Competition</p>
              </div>
              <div class="section-content">
                <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
              </div>
            </div>
          </div>
          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Elle Decor</p>
              </div>
              <div class="section-content">
                <p>Cover story published in Elle Decor November 2024 issue</p>
              </div>
            </div>
          </div>

          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Pahal Competition</p>
              </div>
              <div class="section-content">
                <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
              </div>
            </div>
          </div>
          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Elle Decor</p>
              </div>
              <div class="section-content">
                <p>Cover story published in Elle Decor November 2024 issue</p>
              </div>
            </div>
          </div>

          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Pahal Competition</p>
              </div>
              <div class="section-content">
                <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
              </div>
            </div>
          </div>
          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Elle Decor</p>
              </div>
              <div class="section-content">
                <p>Cover story published in Elle Decor November 2024 issue</p>
              </div>
            </div>
          </div>

          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Pahal Competition</p>
              </div>
              <div class="section-content">
                <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
              </div>
            </div>
          </div>
          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Elle Decor</p>
              </div>
              <div class="section-content">
                <p>Cover story published in Elle Decor November 2024 issue</p>
              </div>
            </div>
          </div>

          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Pahal Competition</p>
              </div>
              <div class="section-content">
                <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
              </div>
            </div>
          </div>
          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Elle Decor</p>
              </div>
              <div class="section-content">
                <p>Cover story published in Elle Decor November 2024 issue</p>
              </div>
            </div>
          </div>

          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Pahal Competition</p>
              </div>
              <div class="section-content">
                <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
              </div>
            </div>
          </div>
          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Elle Decor</p>
              </div>
              <div class="section-content">
                <p>Cover story published in Elle Decor November 2024 issue</p>
              </div>
            </div>
          </div>

          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Pahal Competition</p>
              </div>
              <div class="section-content">
                <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
              </div>
            </div>
          </div>
          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Elle Decor</p>
              </div>
              <div class="section-content">
                <p>Cover story published in Elle Decor November 2024 issue</p>
              </div>
            </div>
          </div>

          <div class="publications-card-list inner-flex inner-flex-common">
            <div class="publication-card-img">
              <img src="https://dummyimage.com/991x1366/DEDEDE/DEDEDE" alt="">
            </div>
            <div class="inner-flex inner-flex-smallest">
              <div class="section-paragraph lh1">
                <p class="semibold-fonts lh1">Pahal Competition</p>
              </div>
              <div class="section-content">
                <p>Winning entry for Pahal - Takshshila's Initiative for Sports</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </section>
</div>
