<div id="abin-design-studio-studio-page-wrapper" class="abin-design-studio-page-wrapper">
  <section class="abin-design-studio-section relative parallax-section" id="abin-design-studio-studio-1">
    <div class="parallax-studio"></div>
    <div class="image-overlay"></div>
    <div class="main-container">
      <div class="inner-flex inner-flex-small studio-content-banner">
        <div class="section-title lh1">
          <h1 class="white-color lh1">
            Our Studio
          </h1>
        </div>
        <div class="section-paragraph">
          <p class="white-color">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, tenetur quaerat beatae magnam facilis
            aspernatur. In, neque cupiditate? Placeat, rerum? Doloribus voluptatem tempora, dolor commodi consequuntur
            delectus accusantium saepe vel!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="abin-design-studio-section relative parallax-section" id="abin-design-studio-studio-2">
    <!-- <div class="parallax-studio-2"></div> -->
    <div class="image-overlay2"></div>
    <div class="main-container">
      <div class="inner-flex inner-flex-small how-work-content-banner">
        <div class="section-title lh1">
          <h1 class="white-color lh1">
            How we work?
          </h1>
        </div>
        <div class="section-paragraph">
          <p class="white-color">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, tenetur quaerat beatae magnam facilis
            aspernatur. In, neque cupiditate? Placeat, rerum? Doloribus voluptatem tempora, dolor commodi consequuntur
            delectus accusantium saepe vel!
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
