<div id="abin-design-studio-studio-page-wrapper" class="abin-design-studio-page-wrapper relative">
  <div class="overlay"></div>
  <section class="abin-design-studio-section section-padding-2 relative" id="abin-design-studio-studio-1">
    <div class="main-container">
      <div class="about-flex-wrapper">
        <div class="about-swiper-flex">
          <section class="our-studio">
            <div #swiperContainer class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let img of images">
                  <img [src]="img" alt="Our Studio" class="studio-image" />
                </div>
              </div>

              <!-- Pagination -->
              <div class="swiper-pagination swiper-pagination-studio"></div>
            </div>
          </section>





        </div>
      </div>
    </div>
  </section>
  <section class="abin-design-studio-section section-padding relative" id="abin-design-studio-studio-2"></section>
</div>
