<div id="abin-design-studio-studio-page-wrapper" class="abin-design-studio-page-wrapper relative">
  <div class="overlay"></div>
  <section class="abin-design-studio-section section-padding-2 relative snap" id="abin-design-studio-studio-1">
    <div class="main-container">
      <div class="about-flex-wrapper">
        <div class="about-swiper-flex">
          <section class="our-studio">
            <div #swiperContainer class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let img of images">
                  <img [src]="img" alt="Our Studio" class="studio-image" />
                </div>
              </div>

              <!-- Pagination -->
              <div class="swiper-pagination swiper-pagination-studio"></div>
            </div>
          </section>
        </div>
        <div class="about-detail-para section-paragraph">
            <p class="white-color">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti enim optio voluptatibus eum, corporis
              dolor nemo quam vero eveniet suscipit excepturi error culpa quae labore cum velit? Alias, excepturi culpa?
            </p>
          </div>
      </div>
    </div>
  </section>
  <section class="abin-design-studio-section section-padding-small relative" id="abin-design-studio-studio-2">
      <ng-container *ngFor="let _ of loopsGrid;let idx = index  ">
        <div class="team-flex-columns snap">
          <div class="main-container">
            <div class="team-wrapper relative">
              <div class="team-image relative" #teamWrapper>
                <div class="team-image-grid" [id]="'grid-' + idx">
                  <ng-container *ngFor="let _ of loops">
                    <img (mouseenter)="setName(img.name)" *ngFor="let img of team_images[idx + 1]" [src]="img.src" [alt]="img.name">
                  </ng-container>
                </div>
              </div>
              <div class="team-detail-para section-paragraph inner-flex inner-flex-medium">
                <div class="section-subtitle2">
                  <p class="medium-fonts white-color">{{ hoverName }}</p>
                </div>
                <p class="white-color">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti enim optio voluptatibus eum, corporis
                    dolor nemo quam vero eveniet suscipit excepturi error culpa quae labore cum velit? Alias, excepturi culpa?
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </section>
</div>

