<div class="abin-footer-wrapper" id="abin-footer">
  <div class="main-container">
    <div class="footer-flex-wrapper">


      <div class="copyright-line">
        <p>
          © Abin Design Studio {{ currentYear }}
        </p>
      </div>
      <div class="policy-flex">
        <p>
          Privacy Policy
        </p>
        <p>
          Terms & Conditions
        </p>
      </div>
      <div class="powered-by">
        <p>
          Powered By :
        </p>
        <a href="https://www.saltpixels.in/" target="_blank">
          Salt Pixels
        </a>
      </div>
    </div>
  </div>
</div>
